@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #1d1d1f;
    font-family: 'Noto Sans KR', sans-serif;

}
html {
    min-width: 800px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 300px;
    background-color: #1d1d1f13;
}
.topWidth {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
section {
    width: 100%;
    background-color: #fbfbfd;
}
.listWidth {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 300px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
    gap: 20px 5px;
    place-content: center;
    justify-content: center;
}
.list {
    padding-left: 25%;
    place-items: center;
}
.list h4 {
    color: #0066cc;
    font-size: 1.1em;
    padding-bottom: 4px;
}
.list li {
    padding-top: 5px;
    letter-spacing: -0.6px;
    font-size: 0.9em;
    color: #1d1d1f;
}
.blueSmall {
    font-size: 0.8em;
    font-weight: 300;
    color: #0066cc;
}
#front {
    width: 100%;
    padding-top: 2em;
    text-align: center;
}
#front .blueMark {
    color: #fbfbfd;
    background-color: #0066cc;
    line-height: 1.7em;
    display: inline-block;
    width: 300px;
    height: 60px;
}
#front h1 {
    font-size: 35px;
}
#front .p {
    font-size: 0.7em;
    font-weight: 300;
}
#front .blue {
    color: #0066cc;
    font-weight: 700;
}
#front .low {
    color: #0066cc;
    font-weight: 300;
    position: relative;
    left: -125px;
    top: 2px;
}
.typoWidth {
    position: relative;
    left: -44%;
    bottom: -46%;
}
.typoWidth img {
    width: 450px;
}
