@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 100%;
    height: 320px;
    background-color: #1d1d1f13;
}
.topName {
    width: 1100px;
    height: 320px;
}
.topImg {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    left: -140%;
    top: -23%;
}
.name {
    width: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 30%;
    left: 53%;
}
.name .topImg img {
    width: 180px;
    height: 180px;
}
.name img {
    width: 20px;
    height: 20px;
    padding-right: 8px;
}
.topName h1 {
    color: #0066cc;
    font-weight: 700;
}
.topName .egName {
    color: #0066cc;
    font-weight: 100;
}
.topName .age {
    font-size: 14px;
    padding: 7px 0 7px 0;
    color: #1d1d1f;
}
.listWidth {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background-color: #fbfbfd;
    margin: 0 auto;
}
.blueSmall {
    font-size: 12px;
    font-weight: 300;
}
.listWidthUl{
    width: 1100px;
    margin: 0 auto;
}
.list {
    width: 400px;
    height: 150px;
    padding-left: 150px;
    text-align: left;
    float: left;
}

.list h4 {
    color: #0066cc;
    font-size: 18px;
    padding-bottom: 4px;
}
.list li {
    padding-top: 5px;
    letter-spacing: -0.5px;
    font-size: 14px;
    color: #1d1d1f;
}
.front {
    width: 1100px;
    margin: 0 auto;
}
.front h1 {
    color: #1d1d1f;
    width: 600px;
    font-size: 35px;
}
.front .blueMark {
    color: #fbfbfd;
    background-color: #0066cc;
    padding: 5px 10px 10px 10px;
}
.front .p {
    color: #1d1d1f;
    font-size: 22px;
    font-weight: 300;
}
.front .blue {
    color: #0066cc;
    font-weight: 700;
}
.front .low {
    color: #0066cc;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 10px;
    left: -120px;
    padding-bottom: 40px;
}
.listBack {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
    background-color:#fbfbfd;
}
.listBack .typoWidth {
    width: 570px;
    height: 230px;
    padding: 40px 0 40px 0;
}
.listBack .typoWidth img {
    position: relative;
    left: 18%;
}
