* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.topWidth {
    width: 100%;
    height: 320px;
    background-color: rgb(172, 172, 172);
}
.topName {
    width: 100%;
    height: 320px;
}
.topImg {
    width: 150px;
    height: 150px;
    background-color:black;
    border-radius: 100px;
    position: absolute;
    left: -120%;
    top: -20%;
}
.name {
    width: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 35%;
    left: 53%;
}
.topName h1 {
    color: skyblue;
}
.topName .age {
    font-size: 14px;
    padding: 7px 0 7px 0;
}
.listWidth {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background-color: yellow;
    margin: 0 auto;
}
.blueSmall {
    font-size: 12px;
}
.listWidthUl{
    width: 1100px;
    margin: 0 auto;
}
.list {
    width: 400px;
    height: 150px;
    padding-left: 150px;
    text-align: left;
    float: left;
}

.list h4 {
    font-size: 18px;
    padding-bottom: 4px;
}
.list li {
    padding-top: 5px;
    letter-spacing: -0.5px;
    font-size: 14px;
}
#front {
    margin: 0 auto;
}
#front h1 {
    color: white;
    width: 500px;
    font-size: 35px;
    z-index: 100;
}

#front .p {
    color: black;
    font-size: 22px;
    font-weight: 300;
}
#front .blue {
    color: skyblue;
    font-weight: 700;
}
#front .low {
    color: skyblue;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: -0px;
    left: -100px;
    padding-bottom: 40px;
}
.listBack {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: yellow;
}