* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.topWidth {
    width: 100%;
    height: 320px;
    background-color: rgb(172, 172, 172);
}
.topName {
    width: 1100px;
    height: 320px;
}
.topName h1 {
    color: skyblue;
}
.listWidth {
    text-align: center;
    width: 1100px;
    padding: 60px;
}
.list {
    width: 420px;
    height: 150px;
    padding-left: 130px;
    text-align: left;
    float: left;
}
#front {
    width: 1100px;
    margin: 0 auto;
}
#front h1 {
    font-size: 50px;
}