* {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.topWidth {
    width: 100%;
    height: 320px;
    background-color: rgb(172, 172, 172);
}
.topName {
    width: 1100px;
    height: 320px;
}
.name {
    position: relative;
    top: 35%;
    left: 60%;
}
.topName h1 {
    color: skyblue;
}
.topName .age {
    font-size: 14px;
    padding: 7px 0 7px 0;
}
.listWidth {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background-color: yellow;
    margin: 0 auto;
}
.blueSmall {
    font-size: 12px;
}
.list {
    width: 400px;
    height: 150px;
    padding-left: 130px;
    text-align: left;
    float: left;
}
.listWidthUl{
    width: 1100px;
    margin: 0 auto;
}
.list h4 {
    font-size: 18px;
    padding-bottom: 4px;
}
.list li {
    padding-top: 5px;
    letter-spacing: -0.5px;
    font-size: 14px;
}
#front {
    margin: 0 auto;
}
#front h1 {
    width: 500px;
    font-size: 35px;
}
#front .p {
    font-size: 22px;
    font-weight: 300;
}
#front .blue {
    color: skyblue;
    font-weight: 700;
}
#front .low {
    color: skyblue;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    left: -7.5%;
    margin-bottom: 30px;
}